* {
 
  box-sizing: border-box;
}

body {
  background-color: #00f9f9;
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  color: #0fc50f;
}

#container {
  background-color: black;
}

#navcontainer {
  background-color: rgb(109, 234, 192);
}

ul, li
{
    margin: 7px 0 1px;
    padding: 0;
  display: flex;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  font-weight: bold;
  color: brown;
  justify-content: space-evenly;
  
}
a{
    text-decoration: none;
}

#sidebar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}

.article{
  width: 50%;
  order: 1;
  margin-bottom: 100px;
  margin-top: 5px;
  background-color: transparent;
  
}
.h2clase{
    text-align: center;
    
}
img {
background-color: transparent;
  width: 50%;
  height: 50%;
  order: 2;
  border: 3px gray solid;
  margin-bottom: 100px;
  margin-top: 5px;
}
.container-one{
    width: 50%;
    height: 50%;
}
.anchorTag href{
    background-color: aliceblue;
    display: flex;
    text-align: center;
    width: 0;
}

.imagen {
width: 200px;
  height: 200px; 
  margin: 0 30px;
  box-shadow: 5px 7px 2px rgb(142, 141, 141);
}

.btn {
  background-color: #fb0865;
  width: 100px;
  height: 20px;
  position: relative;
  top: 1rem;
  left: 27%;
  border: none;
  border-radius: 5px;
  cursor:-webkit-zoom-in;
  font-size: 12px;
  color: white;
  padding: 15px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.btn:hover {
  background-color: rgb(74, 10, 86);
}


.diffcolor{
    color: #7b026d;
    font-weight: bolder;
    text-align: center;
    margin: 5px -35px;
}
.VII{/*I am not very creative while naming classes*/
color: #4f4301;
text-align: start;
margin: 0;
}
#footer {
  text-align: center;
  font-style: italic;
  background-color: #0b0b0b;
  color: antiquewhite;
  margin: 50px 0px;
  height: 300px;
}

.h1 {
  color: rgb(239, 11, 11);
  text-align: center; 
 
}

.contactUs {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  
}

#footer h1.h1imgs {
  color: yellow;
  text-align: left; /
}

.img1 {
  width: 30px;
  height: 30px;
  margin: 5px 0;
}
.contactItem{
    margin-right: 0 0 0 3px; 
    
}
.contactItem, .imgText{
    display: flex;
    align-items: left;
    margin-right: 10px; 
    
}

.imgText {
  color: yellow;
}
.botón{
    background-color: #2d3a9b;
    color: bisque;
    width: 100px;
    margin: 7px;
    margin-left: 55px;
    border-radius: 5px;
}

#my-form{
  position: relative;
  bottom: 10px;
  left: 0;
  width: 100%;
}

 .form-class-1, #myForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #7b026d;
    width: fit-content;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

label {
    margin-right: 10px;
}
.h1form{
    color: yellow;
}
.botón2{
    background-color: #dbdad7;
    color: rgb(249, 96, 65);
    width: 100px;
    margin: 7px;
    margin-left: 55px;
    border-radius: 5px;
    box-shadow: 3px 2px 3px red;
    
}
.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

#footer {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
}
#questAnswer {
 color: gold;

}

h2 {
  margin: 0; 
}

.box {
  background-color: #7b026d;
  color: rgb(245, 240, 245);
  height: 30px;
  width: 200px;
  font-size: 20px;
  padding: 30px;
  margin: 0; 
}


